#Ignore

.DS_Store
SourceCodeForReaders5.1
supplements
Z06_CARR1695_05_SE_GLOS.pdf
Appendices
Assignment1.rtf
/Users/mmbunde/Documents/CS2050/Assignment1/
Untitled.rtf
Assignment2/.vscode/settings.json
